

  .date-difference {
    text-align: center;
    margin: 20px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .input-container label {
    margin-right: 10px;
  }
  
  .data-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 200px;
    height: 200px; 
    text-align: center; 
    overflow: hidden; 
  }
  
  .data-card img {
    width: 100%;
    height: 73%;
    object-fit: cover;
  }
  
  .data-card p {
    margin: 0; 
    font-weight: bold; 
  }
  